@inherits NavMenuModel

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Chinook</a>
        <button class="navbar-toggler" title="Navigation menu" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column compact-nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @foreach (var playlist in playlists)
        {
            <div class="nav-item px-1 py-0">
                <button class="nav-link small-text btn btn-link p-0" @onclick="() => NavigateToPlaylist(playlist.PlaylistId)">
                    <i class="bi bi-music-note-list me-2" style="font-size: 0.9em;"></i> @playlist.Name
                </button>
            </div>
        }
    </nav>
</div>

